@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}
td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #ddd;
}
/* @layer base { */
input {
  padding: 8px 16px;
  border-radius: 4px;
}

.bg-hero {
  background-image: url("/hero2.png");
  background-repeat: no-repeat;
}
/* } */
